@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

#profile {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #211e5c;
  border-radius: 2vw;
  border-bottom: 8px solid #f7e018;

  width: 25vw;
  position: relative;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

#profile .tag {
  position: absolute;
  top: 1vw;
  left: 1vw;
  color: #211e5c;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  rotate: -155deg;
}

#profile .tag span {
  font-size: 1.2rem;
  font-weight: 900;
  color: #211e5c;
  background: #f7e018;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: auto;

  rotate: 155deg;
}

#profile .tag::before,
#profile .tag::after {
  width: 10px;
  height: 10px;
  background: #f7e018;
  border-radius: 50%;
  content: '';
}

#profile h1 {
  font-size: 1.5rem;
}

#profile h2 {
  font-size: 1rem;
  color: #6b61bb;
}

#profile p {
  font-size: 0.8rem;
  text-align: center;
  margin: 1rem;
}

#profile p span {
  color: #f7e018;
}

div.avatar {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;

  padding: 6px;
  margin: 1rem;
  border-left: 6px solid #211e5c;
  border-top: 6px solid #f7e018;
  border-right: 6px solid #f7e018;
  border-bottom: 6px solid #f7e018;
  display: flex;
  justify-content: center;
  align-items: center;
  order: -1;
}

.avatar > img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid #56423b;
}

.email {
  background: #6b61bb;
  color: #fff;
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #6b61bb;
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.email:hover {
  scale: 1.05;
  background: #211e5c;
  border: 2px solid #6b61bb;
}

#socials {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  color: #a89be1;
  font-size: 1.5rem;
}

#socials a {
  padding: 0.2rem;
  transition: all 0.5s ease-in-out;
}

#socials a:hover {
  scale: 1.2;
}

#socials a img {
  width: 25px;
  height: 25px;
}

#task {
  margin-bottom: auto;
}

#task h2 {
  text-align: center;
  color: #211e5c;
}

#task .sub-title {
  text-align: center;
}

#task h3 {
  color: #6b61bb;
  margin: 0.5rem 0;
}

#task .section {
  margin: 1.5rem 0;
}

#task ul {
  padding: auto;
  /* margin-left: 1.5rem; */
  position: relative;
  background: #fff;
}

#task ul li {
  padding: auto;
  margin-top: 4px;
  box-sizing: inherit;
}

#task ul li {
  list-style: none;
  padding: 2px 10px;
  width: 100%;
  background: #fff;
  transition: transform 0.5s;
}

#task ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #211e5c;
  color: #f7e018;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  /* Mobile styles here */
  main {
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
  }

  #profile {
    width: 100%;
  }

  div.avatar {
    width: 150px;
    height: 150px;

    margin: 1rem;
    border-left: 6px solid #211e5c;
    border-top: 6px solid #f7e018;
    border-right: 6px solid #f7e018;
    border-bottom: 6px solid #f7e018;
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
  }

  .avatar > img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #56423b;
  }
}
